[Unit]
Description=Forcepoint SCIM service
Requires=smc_connector.service
After=smc_connector.service

[Service]
Restart=always
RestartSec=3
ExecStart=/var/azure_smc/scim-smc run --config /var/azure_smc/scim.yml

[Install]
WantedBy=multi-user.target
